<%- include('../layouts/header'); -%>
<div class="content content-full">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
        <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Khóa Học</h1> 
    </div>
    <div class="row row-deck items-push">
        <% for(var i = 0; i < sp_ar.length; i++) { %>
        <div class="col-md-6 col-xl-4">
            <a class="block block-link-shadow block-rounded text-center" href="/detail/<%= sp_ar[i].TenCourse %>">
            <div class="d-flex align-items-center justify-content-between">
                <div class="zz block-content-full ribbon ribbon-left ">
                    <div style="color: rgb(4, 206, 158);font-weight: bold;font-size: 1.2rem;"><%= sp_ar[i].GiaCourse %>đ</div>
                </div>
                <div class="zz block-content-full">
                    <del><%= sp_ar[i].GiaGoc %>đ</del>
                </div>
                <div class="zz block-content-full ribbon ribbon-right ribbon-danger">
                <div class="ribbon-box">67%</div>
                </div>
            </div>
            <div class="block-content block-content-full block-rounded p-0">
                <img src="/upload/course/2023/07/05/khoa-hoc-769252.jpg" class="img-fluid rounded-top">
                <div class="block-content block-content-full">
                    <div class="fw-bold prevent-downline"><%= sp_ar[i].DesSP %></div>
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light">
                <div class="font-size-sm text-info"><%= sp_ar[i].SlBai %> bài học</div>
            </div>
            <div class="text-warning mt-2">
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
            </div>
            <div class="font-size-sm text-muted pb-4">
            </div>
            </a>
        </div>
        <% } %>
    </div>
</div>

<%- include('../layouts/footer'); -%>